<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="color-byu font-weight-bolder text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <span class="col navbar-brand m-lg-2">Bookmark It</span>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>

        <div class="row m-1 p-1">
            <div id="types" class="col-2">
                <vc:categories></vc:categories>
            </div>

            <div class="col-8">
                <div>
                    @RenderBody()
                </div>
            </div>

            <div id="types" class="col-2">

            </div>
        </div>
</body>
</html>