@page
@model Bookstore.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Purchase Successful!</h2><h2>We hope you enjoy your books!</h2><br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
