@inherits LayoutComponentBase

<div class="color-byu text-white p-2">
    <span class="navbar-brand m-lg-2">Bookmark It - Administration</span><br />
</div>

<div class="container-fluid">
    <div class="row p-2">

        @* This adds two links that navigates us to either the Purchases page or the Books page *@
        <div class="col-3 ">
            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/books" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>

                <NavLink class="btn btn-outline-primary" href="/admin/purchases" ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Purchases</NavLink>
            </div>
        </div>

        @* The Blazor componets will be added below *@
        <div class="col">
            @Body
        </div>
    </div>
</div>