@{
    ViewData["Title"] = "Bookmark It";
}

@model BooksViewModel

<div class="text-left">
    <h3 class="display-4 pt-1"><b>Books</b></h3><br />
</div>

@foreach (Book b in Model.Books)
{
    //Go to BookSummary to pull in the Books in database
    <partial name="BookSummary" model="b"/>
}

@*Create buttons at the bottom of the page. Highlight the button selected*@
<div page-model="@Model.BookInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
