.cartInfo {
    padding-right: 5px;
}

.bookInfoList {
    margin-top: 5px;
}

.bookTitle {
    padding-left: 25px;
}

.myBtn {
    margin: 3px;
}

.btn-category{
    margin-bottom: 15px;
    min-width: 145px;
    max-width: auto;
}

.price{
    font-size:medium;
}